<div v-show="!character.created">
  <h3>Enter your new character's name</h3>
  <input type="text" v-model="character.name">
  <h3>and their class</h3>
  <div class="row castes">
    <div class="three columns cavalier">
      <h5>Cavalier</h5>
      <ul>
        <li>Strength: 80 <div class="levels"></div></li>
        <li>Agility: 30 <div class="levels"></div></li>
        <li>Luck: 30 <div class="levels"></div></li>
        <li>Mana: 10 <div class="levels"></div></li>
      </ul>
    </div>
    <div class="three columns hunter">
      <h5>Hunter</h5>
      <ul>
        <li>Strength: 40 <div class="levels"></div></li>
        <li>Agility: 50 <div class="levels"></div></li>
        <li>Luck: 40 <div class="levels"></div></li>
        <li>Mana: 20 <div class="levels"></div></li>
      </ul>
    </div>
    <div class="three columns assassin">
      <h5>Assassin</h5>
      <ul>
        <li>Strength: 30 <div class="levels"></div></li>
        <li>Agility: 50 <div class="levels"></div></li>
        <li>Luck: 50 <div class="levels"></div></li>
        <li>Mana: 20 <div class="levels"></div></li>
      </ul>
    </div>
    <div class="three columns shaman">
      <h5>Shaman</h5>
      <ul>
        <li>Strength: 20 <div class="levels"></div></li>
        <li>Agility: 30 <div class="levels"></div></li>
        <li>Luck: 30 <div class="levels"></div></li>
        <li>Mana: 70 <div class="levels"></div></li>
      </ul>
    </div>
  </div>
  <select v-model="character.caste">
    <option value="Cavalier" selected>Cavalier</option>
    <option value="Hunter">Hunter</option>
    <option value="Assassin">Assassin</option>
    <option value="Shaman">Shaman</option>
  </select>
  <button @click="create">Create</button>
</div>