<div>
  <h4>{{ character.name }}</h4>
  <h5>{{ character.caste }}</h5>
  <button @click="show">Stats</button>
  <div v-if="stats" class="row">
    <div class="six columns">
      <ul>
        <li>Gold: {{ character.gold }}</li>
        <li>Strength: {{ character.strength }}</li>
        <li>Agility: {{ character.agility }}</li>
        <li>Luck: {{ character.luck }}</li>
      </ul>
    </div>
    <div class="six columns">
      <p><strong>Inventory</strong></p>
      <ul>
        <li v-for="item in character.inventory" track-by="$index">
          {{ item.name }} - HP: {{ item.hp }}, Strength: {{ item.strength }}, Agility: {{ item.agility }}, Luck: {{ item.luck }}, Mana: {{ item.mana }} <span v-if="!item.equipped" @click="equip(item)">Equip</span><span v-if="item.equipped" @click="unequip(item)">Unequip</span>
        </li>
      </ul>
    </div>
  </div>
</div>