<div>
  <button @click="shop" v-if="!shopping">Let's Shop</button>
  <div v-if="shopping">
    <div id="shop">
      <div>
        <h4>Village of {{ village }} - {{ character.gold }} gold</h4>
      </div>
      <ul>
        <li v-for="item in newItems" track-by="$index">
          <h5>{{ item.name }} - {{ item.cost }}g <span>Buy</span></h5>
          <ul>
            <li>HP: {{ item.hp }}</li>
            <li>Strength: {{ item.strength }}</li>
            <li>Agility: {{ item.agility }}</li>
            <li>Luck: {{ item.luck }}</li>
            <li>Mana: {{ item.mana }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>