<div>
  <button @click="shop">Let's Shop</button>
  <div v-if="shopping">
    <div>
      <h4>Village of {{ village }}</h4>
      <h4>{{ character.gold }} gold</h4>
      <ul>
        <li v-for="item in newItems">
          <h4>{{ item.name }} - {{ item.cost }}g | <span>BUY</span></h4>
          <ul>
            <li>HP: {{ item.hp }}</li>
            <li>Strength: {{ item.strength }}</li>
            <li>Agility: {{ item.agility }}</li>
            <li>Luck: {{ item.luck }}</li>
            <li>Mana: {{ item.mana }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>