<div>
  <button @click="explore" v-show="!character.exploring">Go Exploring</button>
  <div v-if="character.exploring" class="row">
    <h4>{{ character.name }} encounters a {{ monster.name }} in the {{ dungeon }}</h4>
    <div class="five columns">
      <h5>You</h5>
      <p>Attack: {{ attack }}</p>
      <p>Defense: {{ defense }}</p>
      <p>HP: {{ character.hp }}</p>
    </div>
    <div class="five columns" v-bind:class="{ 'inactive': !monsterAlive }">
      <h5>{{ monster.name }}</h5>
      <p>Attack: {{ monster.attack }}</p>
      <p>Defense: {{ monster.defense }}</p>
      <p>HP: {{ localHP }}</p>
    </div>
    <div class="twelve columns">
      <div v-show="!fighting">
        <button @click="fight">Fight</button>
        <button @click="explore">Flee</button>
      </div>
      <div v-show="fighting">
        <div v-show="monsterAlive">
          <h5>Round {{ round }}</h5>
          <h5 v-show="!monsterTurn">You hit the {{ monster.name }} for {{ attack }} damage! {{ effect }}</h5>
          <h5 v-show="monsterTurn">The {{ monster.name }} hit you for {{ monster.attack }} damage! {{ effect }}</h5>
          <button @click="endTurn" v-show="characterTurn">End turn</button>
          <div v-show="monsterTurn">
            <button @click="fight">Fight</button>
            <button @click="explore">Flee</button>
          </div>
        </div>
        <div v-show="!monsterAlive">
          <h5>Congratulations! The {{ monster.name }} is dead!</h5>
          <h5>You recieve {{ monster.gv }} gold and {{ goldFromLuck }} gold from luck!</h5>
          <button @click="explore">Explore again</button>
        </div>
      </div>
    </div>
  </div>
</div>
