body {
  font-family: Arial, Helvetica, sans-serif;
}

input, select {
  padding: 7px;
  font-size: 1.1em;
  border: 1px solid #bbb;
  border-radius: 5px;
  outline: none;
}

p {
  margin-bottom: 5px;
}

.app-component {
  margin-top: 75px;
}

.levels {
  height: 12px;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, ul li {
  margin-bottom: 5px;
}

ul li {
  margin: 0;
}

button {
  margin-bottom: 20px;
}

#shop {
  width: 90%;
}

#shop ul:first-child {
  display: inline;
}

span {
  background: #bbb;
  color: #fff;
  font-size: .7em;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 0 2px;
  cursor: pointer;
}

.inactive {
  color: #bbb;
}

/*Cavalier*/

.cavalier li:first-child .levels {
  width: 90px;
  background: lightgreen;
}

.cavalier li:nth-child(2) .levels {
  width: 30px;
  background: lightcoral;
}

/*Hunter*/

.hunter li:first-child .levels {
  width: 30px;
  background: lightgreen;
}

.hunter li:nth-child(2) .levels {
  width: 90px;
  background: lightcoral;
}

/*Assassin*/

.assassin li:first-child .levels {
  width: 60px;
  background: lightgreen;
}

.assassin li:nth-child(2) .levels {
  width: 60px;
  background: lightcoral;
}

.stats {
  position: relative;
  transform-origin: 0 0;
}

/*Transitions*/
.fade-transition {
  transition: all 0.2s ease-out;
}

.fade-enter, .fade-leave {
  opacity: 0;
  transform: translateX(5px);
}